sudo: required
dist: trusty
language: node_js
node_js:
    - "6.3.1"
addons:
  packages:
    - unzip
    - google-chrome-stable
script:
    - gulp test
    - gulp test-e2e
before_install:
    - wget http://chromedriver.storage.googleapis.com/2.21/chromedriver_linux64.zip
    - unzip chromedriver_linux64.zip
    - sudo chmod u+x chromedriver
    - sudo mv chromedriver /usr/bin/

    - export CHROME_BIN=chromium-browser
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - sleep 3 # give xvfb some time to start

before_script:
    - npm install
    - ./node_modules/protractor/bin/webdriver-manager update
